.services_title {
  font-size: 50px;
  margin-bottom: 16px;
}

.services_items__main__card {
  background-color: white;
}

.services_items__main__card {
  font-family: "NeoSansArabic";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 176px;
  border-radius: 15px;
  gap: 32px;
  font-size: 22px;
}

.services_items__main__card span {
  color: #00457c;
  font-family: inherit;
}

.services_items__main__card:hover {
  background-color: #00457c;
  transition: 0.5s;
}

.services_items__main__card:hover span,
.services_items__main__card:hover img {
  color: white;
  filter: brightness(0) invert(1);
  transition: 0.5s;
}

.services_group_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 280px;
}

@media (max-width: 1024px) {
  .services_group_items {
    width: 150px;
  }
}
