.services {
  background-color: #e5e5e5;
  padding-left: 0px;
  margin-bottom: 0px;
}
.services_search,
.services h2 {
  display: flex;
  justify-content: space-between;
  font-family: "NeoSansArabic-Medium";
}

.services_search {
  margin-bottom: 25px;
}

.services_search a {
  background-color: white;
  margin-right: 120px;
}

.services_items {
  display: flex;
  flex-direction: row;
}

.services_items__main {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-bottom: 42px;
}

.services_items__main:last-child {
  margin-bottom: 0px;
}

.services h2 {
  font-size: 50px;
  margin-bottom: 16px;
}

.services_items__main__card {
  background-color: white;
}

.services_items__main__card {
  /* background-color: rgba(0, 0, 255, 0.281); */
  font-family: "NeoSansArabic";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 176px;
  border-radius: 15px;
  gap: 32px;
  font-size: 22px;
}

.services_items__main__card span {
  color: #00457c;
  font-family: inherit;
}

.services_items__main__card:hover {
  background-color: #00457c;
  transition: 0.5s;
}

.services_items__main__card:hover span,
.services_items__main__card:hover img {
  color: white;
  filter: brightness(0) invert(1);
  transition: 0.5s;
}

.services_items__left {
  margin-right: 109px;
}

.services_items__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services_items__right a {
  font-family: "NeoSansArabic";
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  width: 420px;
  background-color: white;
  padding: 18px;
  justify-content: space-between;
}
.services_items__right div {
  display: flex;
  align-items: center;
  gap: 16.32px;
}
.services_items__right span {
  font-family: "NeoSansArabic";
  color: #188ac8;
}
