.services_title {
  font-size: 50px;
  margin-bottom: 16px;
}

.services_items__main__card {
  background-color: white;
}

.services_items__main__card {
  font-family: "NeoSansArabic";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 172px;
  height: 176px;
  border-radius: 15px;
  gap: 32px;
  font-size: 22px;
}

.services_items__main__card span {
  color: #00457c;
  font-family: inherit;
  font-size: 22px;
}

.services_items__main__card:hover {
  background-color: #00457c;
  transition: 0.5s;
}

.services_items__main__card:hover span,
.services_items__main__card:hover img {
  color: white;
  filter: brightness(0) invert(1);
  transition: 0.5s;
}

.services_group_items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 280px;
  /* border: 1px solid red; */
}

.items_settings {
  display: flex;
  flex-direction: column;
  width: 172px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-family: "NeoSansArabic";
}
@media (max-width: 1200px) {
  .services_group_items {
    width: 240px;
  }
}

@media (max-width: 900px) {
  .services_items__main__card {
    width: 132px;
    height: 126px;
  }
  .services_items__main__card span {
    font-size: 16px;
  }
  .services_items__main__card img {
    width: 30%;
  }
  .services_group_items {
    width: 180px;
  }
  .services_group_items span {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .services_items__main__card {
    width: 122px;
    height: 100px;
  }
  .services_items__main__card span {
    font-size: 12px;
  }
  .services_items__main__card img {
    width: 40%;
  }
  .services_group_items {
    background-color: white;
    width: 120px;
  }
  .services_group_items img {
    display: none;
  }
  .services_group_items span {
    font-size: 12px;
  }
  .services_title {
    font-size: 40px;
  }
}
